@use '@/assets/scss/base/color';
@use '@/assets/scss/base/typography';
.badges{
    overflow: hidden;
    position: relative;
    margin-top:10%;
}

.badges__header{
    text-align: left;
    display: inline-block;
    margin:0;
}

.badges__route{
    position: absolute;
    right: 0;
    color:color.$white;
}
.slider-section{
    width:100vw;
    overflow-y: hidden; 
}
.slider-wrap{
    height:130px;
    display: inline-flex;
    font-size: 1em;
    padding-right:30%;
    &__item{
        width:100px;
        margin:0 1%;
        background-color: #C4C4C4;
        color:color.$white;
        text-decoration: none;
        background: linear-gradient(135deg, #5643A3 0%, #1B2E72 100%);
        & *{
            padding:2%;
            margin:0;
            text-align: center;
            line-height: 20px;
            
        }
    }
    &__header{
        font-size: .8em;
    }
    &__name{
        font-family: typography.$baloo;
        font-size: .8em;
    }
    &__progress{
        font-family: typography.$baloo;
        font-size: 1.1em;
    }
    &__image{
        width:55px;
        height:55px;
        background-color: #F6F6F6;
        border-radius:100%;
        margin:0 auto;
        padding:0;
    }

}