.modalOverlay{
    position:fixed;
    left:0;
    top:0;
    z-index: 999;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.6);
    &__infoBox{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: grey;
        text-align: center;
        &__text{
            span{
                font-weight:bold;
            }
        }
    }
  }