@use '@/assets/scss/base/color';

.moonanimation{
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__circlecenter {
        position: relative;
        display:flex;
        justify-content: center;
    } 

    &__circle {
        --w: 150px;
        background-color: color.$dark-blue;
        border-radius: 50%;
        color: #FFF;
        height: var(--w);
        margin-bottom: 1rem;
        width: var(--w);      
    }
    
    &__aslide {
        --animdel: var(--moonage);
        --animdur: 1s;
        --animn: slide;
    }

    
    &__label{
        display: flex;
        justify-content: center;
    }
    &__input{
        margin: 1rem 0;
        width: 80%;
        background: linear-gradient(135deg, #5643A3 0%, #1B2E72 100%);
    }
    &__data{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        text-align: center;
    }
    &__moonrise{
        grid-column: 1/2;
        text-align: center;
        padding-top: 7%;
        &__img{
            width: 40px;
        }
    }
    &__currentdate{
        grid-column: 2/3;
        text-align: center;
        &__p{
            font-weight: 700;
            font-size: 1.3rem;
        }
    }
    &__moonset{
        grid-column: 3/4;
        text-align: center;
        padding-top: 7%;
        &__img{
            width: 40px;
        }
    }

  
    [data-animation] {
        --animps: paused;
        animation: var(--animn) var(--animdur) var(--animtf, linear) var(--animdel) var(--animic, infinite) var(--animdir, alternate) var(--animfm, none) var(--animps, running);
    }
  
    /* STATE */
    [data-animation-pause]:checked ~ [data-animation] {
        --animps: running;
    }
  
    [data-animation-pause]:checked + label::before {
        background-color: cornflowerblue;
    }
  
    @keyframes slide {
        0% { 
          transform: translateX(-100%);
          box-shadow: 150px 0px 0px 0px white; 
        }
        50%{ 
          box-shadow: 0px 0px 0px 0px white;      
        }
        100% { 
          transform: translateX(100%);
          box-shadow: -150px 0px 0px 0px white;
        }
    }
}