@use '@/assets/scss/base/color';

.event {

    &__img {
        right: 0;
        margin-top: 30%;
        margin-left: 20%;
        z-index: 1;
        filter: drop-shadow(0px 0px 50px #FB9999);
    }
    &__textBox {
        background-color: #222237;
        margin-top: -30%;
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
        padding: 0 10% 10% 10%;
    }
    &__header {
        padding: 40px 0 15px 0;
    }
    &__visible {
        font-weight: 700;
    }
    &__date {
        font-weight: 700;
        font-size: 1.3em;
        text-align: center;
    }
    &__description {
        border-radius: 5px;
        background-color: #151533;
        padding: 3%;
        margin-bottom: 0;
    }
    &__white {
        filter: drop-shadow(0px 0px 50px #FFFFFF);
    }

}