<template>
  <div>
      <h1>Sorry the page you are looking for ran away!</h1>
  </div>
</template>

<script>

export default {
    name: 'page-not-found',
    data(){
        return{
            
        }
    }
}
</script>

<style>

</style>