<template>
    <div class="settings">
        <button class="back-arrow" @click="back"><img src="@/assets/media/arrow_white.svg" alt=""></button>
        <h1 class="view-header">Settings</h1>
        <section class="settings__section">
            <h3 class="settings__header">Notifications</h3>
            <ul class="settings__list">
                <li class="settings__item">Enable notifications
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="settings__item">News update
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="settings__item">Sound
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="settings__item">Vibrate
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </li>
            </ul>
        </section>

        <section class="settings__section">
            <h3 class="settings__header">Shortcuts</h3>
            <ul class="settings__list">
                <li class="settings__item">Enable Shortcuts
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="settings__item">Update Shortcuts</li>
                <li class="settings__item">Reset Shortcuts</li>
            </ul>
        </section>

        <section class="settings__section">
            <h3 class="settings__header">Account Actions</h3>
            <ul class="settings__list">
                <li class="settings__item">Clear Cache</li>
                <li class="settings__item">Saved Login info</li>
                <li class="settings__item">Sound
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </li>
            </ul>
        </section>
    </div>
</template>

<script>

export default {
    name: 'settingsView',
    methods: {
        back(){
            this.$router.go(-1)
        }
    }
}
</script>
<style scoped lang="scss">
.settings{
    &__header{
        text-align: left;
    }
    &__list{
        padding:0;
    }
    &__item{
            list-style: none;
            text-align: left;
            margin:5px 0;
            padding:5px;
    }
    
}


// Switch style
.switch {
  position: absolute;
  display: inline-block;
  width: 44px;
  height: 25px;
  right:0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
