<template>
  <main>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore ipsa quibusdam nam eos voluptatibus deserunt omnis corporis tenetur. Minus provident at voluptatem. Quaerat at rerum, eaque unde illo iure aperiam?
  </main>

</template>
<script>


export default ({
  

    
  
})
</script>
