<template>
  <section class="badges">
        <h3 class="badges__header">Your badges</h3>
        <router-link to="/" class="badges__route">To quizes</router-link>
        <div class="slider-section">
            <div class="slider-wrap">
                <router-link to="/" v-for="slide in this.badgeData.badges" :key="slide.badge_id" class="slider-wrap__item">
                    <h4 class="slider-wrap__header">{{ slide.badge_subject}}</h4>
                    <div class="slider-wrap__image"></div>
                    <p class="slider-wrap__name">{{ slide.badge_name}}</p>
                    <p class="slider-wrap__progress">{{ slide.badge_progess}}</p>
                </router-link>
            </div>
        </div>
       
  </section>
</template>

<script>
export default {
    name: 'BadgesProfile',
    data(){
        return{
            badgeData: {
                "badges": [
                    {
                        "badge_id": 1,
                        "badge_subject": "Mars",
                        "badge_img": "null",
                        "badge_route": "mars",
                        "badge_name": "Explorer",
                        "badge_progess": "54%"
                    },
                    {
                        "badge_id": 2,
                        "badge_subject": "Moon",
                        "badge_img": "null",
                        "badge_route": "moon",
                        "badge_name": "Specialist",
                        "badge_progess": "86%"
                    },
                    {
                        "badge_id": 3,
                        "badge_subject": "Sun",
                        "badge_img": "null",
                        "badge_route": "sun",
                        "badge_name": "Super Nova",
                        "badge_progess": "90%"
                    },
                    {
                        "badge_id": 4,
                        "badge_subject": "Black hole",
                        "badge_img": "null",
                        "badge_route": "black_hole",
                        "badge_name": "Space dog",
                        "badge_progess": "13%"
                    },
                ]
            }
        }
    }
}
</script>
