<template>
  <button @click="getApi">click</button>
  <div class="moonanimation" v-if="this.moonphase">
    <div class="moonanimation__circlecenter">
      <div
        class="moonanimation__circle moonanimation__aslide"
        id="ani"
        data-animation
        :style="cssVariable"
      ></div>
    </div>
    <label class="moonanimation__label">
      <input
        class="moonanimation__input"
        type="range"
        min="0"
        max="1"
        step="0.01"
        v-model.number="this.moonphase.days[15].moonphase"
      />
    </label>
    <div class="moonanimation__data">
      <div class="moonanimation__moonrise">
        <img class="moonanimation__moonrise__img" src="../assets/media/moon_rise.svg" alt="">
        <p>07:32</p>
      </div>
      <div class="moonanimation__currentdate">
        <p class="moonanimation__currentdate__p">{{this.currentDate}}</p>
      </div>
      <div class="moonanimation__moonset">
        <img class="moonanimation__moonset__img" src="../assets/media/moon_set.svg" alt="">
        <p>02:27</p>
      </div>
       <p>{{this.moonphase.days[15].moonphase}}</p>
       <p>{{Math.round(this.moonphase.moon_distance)}}Km</p>
       <p>Moon Azimuth {{Math.round(this.moonphase.moon_azimuth)}}</p>
     </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from 'axios'
import moment from 'moment'

export default {
  data() {
    return {
      lat: '',
      lon: '',
      city: '',
      currentDate: moment(new Date()).format("DD-MM-yyyy"),
      pastdate: moment(new Date()).add(-15, 'days').format("yyyy-MM-DD"),
      futuredate: moment(new Date()).add(15, 'days').format("yyyy-MM-DD"),
      days: null,
      moonphase: null,
      oldLat: ''
    }
  },
  computed: {
    cssVariable() {
      return {
        '--moonage': this.moonphase.days[15].moonphase * -1 + "s",
      }
    },
    fetchLat() {
      return this.$store.state.getLat
    },
    fetchLon() {
      return this.$store.state.getLon
    }
  },
  methods: {
    getApi() {
      this.lat = this.$store.state.getLat
      this.lon = this.$store.state.getLon
      const apiUrl = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/'
      const apiIncludes = '?unitGroup=metric&elements=moonphase&include=days'
      const apiKey = '8CVNABXSS2R9M2JCNA3DL5UTE'
      const apiFormat = 'json'
      axios(`${apiUrl}${this.lon},${this.lat}/${this.pastdate}/${this.futuredate}${apiIncludes}&key=${apiKey}&contentType=${apiFormat}`).then(response => {
        this.moonphase = response.data
        console.log(this.moonphase.data)
      })
    }
  },
  mounted() {


  },

}
</script>

<style lang="scss">
.circle-center {
  overflow: hidden;
}
</style>